# This file includes global variables that will be available inside your project
# 1. In the front end code you can access this variables like this: console.log(import.meta.env.VARIABLE_NAME)
# 1. In the back end code you access the variable by importing os and then typing print(os.getenv('VARIABLE_NAME'))

# Back-End Variables
#DATABASE_URL=postgres://gitpod:postgres@localhost:5432/example
DATABASE_URL=postgresql://neondb_owner:npg_AgrwJY1uM6ja@ep-bold-morning-a5fou11l-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require

FLASK_APP_KEY="1234"
FLASK_APP=src/app.py
FLASK_DEBUG=0
DEBUG=FALSE

# Front-End Variables
VITE_BASENAME=/
VITE_BACKEND_URL=https://super-waddle-r4gq474w5w9wfj9j-3001.app.github.dev


# Firebase Auth
VITE_FIREBASE_API_KEY=AIzaSyDTQJp7FOqBXiSILc6AgFYXlzf8QqkammQ
VITE_FIREBASE_AUTH_DOMAIN=appreportes-5fcd3.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=appreportes-5fcd3
VITE_FIREBASE_STORAGE_BUCKET=appreportes-5fcd3.firebasestorage.app
VITE_FIREBASE_APP_ID=1:798866046412:web:7f62b320f9566be070b169
VITE_FIREBASE_MEASUREMENT_ID=G-EDG37LPEJQ

# Firebase
FIREBASE_ADMIN_KEY=firebase-adminsdk.json